{% extends "employee_information/base.html" %}
{% block pageContent %}
{% load widget_tweaks %}
<style>
  .alert {
      position: fixed;  /* Position the alert absolutely within its parent */
      left: 50%; 
      top: 50%;
      bottom: 50%;
      left: 50%; /* Move the alert to the right by 50% of the parent's width */
      transform: translateX(-50%);  /* Move the alert to the left by 50% of its own width */
      
      
      
      
      width: 30%;
      text-align: center;
  }
  
  .alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
      height: fit-content;
      
  }
  
  .alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
  }
</style>

<body class="body_bg">
  <div class="container mg-t">
    <div class="row">
      <div class="col">
        <h2 class="fw-bold mb-4">Employee Leave Status</h2>
      </div>
    </div>
    <div class="row mx-auto mt-2" style="background-color: #ecd5ef; min-height: 7%; border-radius: 5px;">
      <form method="get">
        <div class="row">
          <div class="col-lg-2 col-md-6 my-2">
            <input id="employee_id" onchange="checkInput()" type="text" placeholder="Employee ID" class="form-control">
            {% render_field filter_queryset.form.employee_name|attr:"class:form-control name"|attr:"placeholder:Employee ID"%}
        </div>
        <div class="col-lg-2 col-md-6 my-2">
            <div class="input-group">
                <input id="name" onchange="checkInput()" type="text" placeholder="Employee Name" class="form-control">
                {% render_field filter_queryset.form.start_date|add_class:"form-control start_date"|attr:"type:date"%}
            </div>
        </div>
        <div class="col-lg-3 col-md-6 my-2">
            <div class="input-group">
                <span class="input-group-text">Start Date</span>
                <input id="start_date" onchange="checkInput()" type="month" class="form-control">
                {% render_field filter_queryset.form.end_date|add_class:"form-control end_date"|attr:"type:date"%}
            </div>
        </div>
        <div class="col-lg-3 col-md-6 my-2">
            <div class="input-group">
                <span class="input-group-text">End Date</span>
                <input id="end_date" onchange="checkInput()" type="month" class="form-control">
              {{filter_queryset.form.status|add_class:"form-control status"}} 
            </div>
          </div>
          <div class="col-auto my-2">
            
            <button
            class="btn text-light me-1"
            style="background-color: #4981b2 !important"
            id="search"
            data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?"
            disabled="true"
            data-bs-delay="200"
            data-bs-hide="100" 
          >
          <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button
              class="btn text-light ms-1"
              onclick="location.reload();"
              style="background-color: #b24949 !important"
              id="clear"
              disabled="true"
            >
            <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="col-auto ms-auto ms-xs-1 me-1 my-2">
            <button class="btn text-light"
              id = saveBtn
              style="background-color: #4981b2 !important"
              href="">
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-5">
      <div class="col">
          <form method="post" action="">
            {% csrf_token %}
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="table-secondary">
                    <th class="text-center col">Employee Id</th>
                    <th class="text-center col">EmployeeName</th>
                    <th class="text-center col">Leaves Taken</th>
                    <th class="text-center col">WFH Taken</th>
                    <th class="text-center col">Leave Left</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for employee in context %}
                    <tr>
                      <td class="text-center">{{employee.employee_id}}</td>
                      <td class="text-center">{{employee.employee_name}}</td>
                      <td class="text-center">{{employee.leave_taken}}</td>
                      <td class="text-center">{{employee.wfh_taken}}</td>
                      <td class="text-center">{{employee.leave_left}}</td>
                      
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form>        
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if paginated_results.has_previous  %}
              <li class="page-item">
                <a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left fa-xs"></i></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{paginated_results.previous_page_number}}"><i class="fa-solid fa-chevron-left fa-xs"></i></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-angles-left fa-xs"></i></a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-chevron-left fa-xs"></i></a>
              </li>
            {% endif %}
              <li class="page-item disabled">
                <a href="?page={{forloop.counter}}" class="page-link">
                  {{ paginated_results.number }} of {{ paginated_results.paginator.num_pages }}
                </a>
              </li>
            {% if paginated_results.has_next  %}
              <li class="page-item">
              <a class="page-link" href="?page={{paginated_results.next_page_number}}"><i class="fa-solid fa-chevron-right fa-xs"></i></a>
              </li>
              <li class="page-item">
              <a class="page-link" href="?page={{paginated_results.paginator.num_pages}}"><i class="fa-solid fa-angles-right fa-xs"></i></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-chevron-right fa-xs"></i></a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-angles-right fa-xs"></i></a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $('#clear').on('click', function() {
      $('.name').val('');
      $('.start_date').val('');
      $('.end_date').val('');
      $('.employee_id').val('');
      
    });
  });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
  $(function() {
    var availableTags = [
      "{% for employee_name in employee_names %}"
        ,"{{ employee_name }}",
      "{% endfor %}"
    ];
    $(".name").autocomplete({
      source: availableTags
    });
  });
</script>
<script>
  function checkInput() {
    var name = document.getElementById('name').value;
    var start_date = document.getElementById('start_date').value;
    var end_date = document.getElementById('end_date').value;
    var employee_id = document.getElementById('employee_id').value;
    



    var searchButton = document.getElementById('search');
    var clearButton = document.getElementById('clear');

    

    if (!name || !start_date || !end_date || !employee_id || !leave_type) {
      searchButton.disabled = false;
      clearButton.disabled = false;
    } else {
      searchButton.disabled = true;
      clearButton.disabled = true;
    }
  }

</script>

<script>
  document.getElementById('search').addEventListener('click', function() {
    event.preventDefault()
    var employee_name = document.getElementById("name").value;
    var start_date = document.getElementById("start_date").value;
    var end_date = document.getElementById("end_date").value;
    var employee_id = document.getElementById("employee_id").value;
    var status_dict = {};
    if (employee_name){
      status_dict["employee_name"] = employee_name
    }
    if (start_date){
      status_dict["start_date__gte"] = start_date + "-01";
    }
    if (end_date){
      status_dict["end_date__lte"] = end_date + "-29"
    }
    if (employee_id){
      status_dict["employee__employee_id"] = employee_id
    }
    console.log(status_dict);
    var paginationElement = document.querySelector('.pagination');
    while (paginationElement.firstChild) {
        paginationElement.removeChild(paginationElement.firstChild);
    }
    fetch("{% url 'employee_leave_status' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(status_dict)
    }).then(function(response) {
        return response.json();
    }).then(function(response_data) {
      var tableBody = document.querySelector('.table tbody');
        var allData = response_data.results;
        console.log('allData', allData)
        var itemsPerPage = 5;
        var currentPage = 1;
        var totalPages = Math.ceil(allData.length / itemsPerPage);
        // Previous page buttons
        var prevPageItem = document.createElement('li');
        prevPageItem.className = 'page-item ' + (currentPage === 1 ? 'disabled' : '');
        var prevPageLink = document.createElement('a');
        prevPageLink.className = 'page-link';
        prevPageLink.href = '?page=' + (currentPage - 1);
        prevPageLink.innerHTML = '<i class="fa-solid fa-chevron-left fa-xs"></i>';
        prevPageItem.appendChild(prevPageLink);
        paginationElement.appendChild(prevPageItem);

        // Current page text
        var currentPageItem = document.createElement('li');
        currentPageItem.className = 'page-item disabled';
        var currentPageLink = document.createElement('a');
        currentPageLink.className = 'page-link';
        currentPageLink.href = '?page=' + currentPage;
        currentPageLink.textContent = currentPage + ' of ' + totalPages;
        currentPageItem.appendChild(currentPageLink);
        paginationElement.appendChild(currentPageItem);

        // Next page buttons
        var nextPageItem = document.createElement('li');
        nextPageItem.className = 'page-item ' + (currentPage === totalPages ? 'disabled' : '');
        var nextPageLink = document.createElement('a');
        nextPageLink.className = 'page-link';
        nextPageLink.href = '?page=' + (currentPage + 1);
        nextPageLink.innerHTML = '<i class="fa-solid fa-chevron-right fa-xs"></i>';
        nextPageItem.appendChild(nextPageLink);
        paginationElement.appendChild(nextPageItem);

        function updatePage() {
          console.log('inside updatePage')
          var start = (currentPage - 1) * itemsPerPage;
          var end = start + itemsPerPage;
          var pageData = allData.slice(start, end);
          console.log('pageData', pageData)

          while (tableBody.firstChild) {
              tableBody.removeChild(tableBody.firstChild);
          }

          pageData.forEach(function(item) {
                var row = document.createElement('tr');
                row.innerHTML = `
                    <td id="employee_id" class="text-center">${item.employee_id}</td>
                    <td id="employee_name" class="text-center">${item.employee_name}</td>
                    <td id='start_date' class="text-center">${item.leave_taken}</td>
                    <td id='end_date' class="text-center">${item.wfh_taken}</td>
                    <td id='end_date' class="text-center">${item.leave_left}</td>
                `;
                tableBody.appendChild(row);
            });

            // Update pagination
            // var paginationElement = document.querySelector('.pagination');
            while (paginationElement.firstChild) {
                paginationElement.removeChild(paginationElement.firstChild);
            }

            var prevPageItem = document.createElement('li');
            prevPageItem.className = 'page-item ' + (currentPage === 1 ? 'disabled' : '');
            var prevPageLink = document.createElement('a');
            prevPageLink.className = 'page-link';
            prevPageLink.href = '?page=' + (currentPage - 1);
            prevPageLink.innerHTML = '<i class="fa-solid fa-chevron-left fa-xs"></i>';
            prevPageItem.appendChild(prevPageLink);
            paginationElement.appendChild(prevPageItem);

            // Current page text
            var currentPageItem = document.createElement('li');
            currentPageItem.className = 'page-item disabled';
            var currentPageLink = document.createElement('a');
            currentPageLink.className = 'page-link';
            currentPageLink.href = '?page=' + currentPage;
            currentPageLink.textContent = currentPage + ' of ' + totalPages;
            currentPageItem.appendChild(currentPageLink);
            paginationElement.appendChild(currentPageItem);

            // Next page buttons
            var nextPageItem = document.createElement('li');
            nextPageItem.className = 'page-item ' + (currentPage === totalPages ? 'disabled' : '');
            var nextPageLink = document.createElement('a');
            nextPageLink.className = 'page-link';
            nextPageLink.href = '?page=' + (currentPage + 1);
            nextPageLink.innerHTML = '<i class="fa-solid fa-chevron-right fa-xs"></i>';
            nextPageItem.appendChild(nextPageLink);
            paginationElement.appendChild(nextPageItem);

            // Previous button click event
            prevPageLink.addEventListener('click', function(event) {
                event.preventDefault();
                if (currentPage > 1) {
                    currentPage--;
                    updatePage(allData, currentPage, itemsPerPage, tableBody, paginationElement);
                }
            });
            // Next button click event
            nextPageLink.addEventListener('click', function(event) {
                event.preventDefault();
                if (currentPage < totalPages) {
                    currentPage++;
                    updatePage(allData, currentPage, itemsPerPage, tableBody, paginationElement);
                }
              });
        }
// Call updatePage to refresh the table and pagination for the first time
          updatePage(allData, currentPage, itemsPerPage, tableBody, paginationElement);
        
    });
  });
</script>
<script>
  //download
  document.getElementById('saveBtn').addEventListener('click', function() {
    var employee_name = document.getElementById("name").value;
    var start_date = document.getElementById("start_date").value;
    var end_date = document.getElementById("end_date").value;
    var employee_id = document.getElementById("employee_id").value;
    var status_dict = {};
    if (employee_name){
      status_dict["employee_name"] = employee_name
    }
    if (start_date){
      status_dict["start_date__gte"] = start_date + "-01";
    }
    if (end_date){
      status_dict["end_date__lte"] = end_date + "-29"
    }
    if (employee_id){
      status_dict["employee__employee_id"] = employee_id
    }
    console.log(status_dict);
    fetch("{% url 'employee_leave_status' %}", {
        method: 'POST',
        body: JSON.stringify(status_dict),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },

      }).then(response => response.blob())
.then(blob => {
    // Create a new object URL for the blob
    const url = window.URL.createObjectURL(blob);

    // Create a link and click it to start the download
    const link = document.createElement('a');
    link.href = url;
    link.download = 'leave_status.csv';
    link.click();

    // Release the reference to the object URL
    window.URL.revokeObjectURL(url);
});
});

</script>
<script>
  // Function to set the end date when the start date is changed
  function setEndDate() {
    var startDate = document.getElementById('start_date').value;
    document.getElementById('end_date').value = startDate;
    checkInput(); // Call checkInput to update the button states
  }

  // Attach the setEndDate function to the onchange event of the start date input
  document.getElementById('start_date').addEventListener('change', setEndDate);
</script>



{% endblock pageContent %}