{% extends "employee_information/base.html" %} {% block pageContent %}
<body class="body_bg">
  <div class="container mg-t">
    <div class="row">
      <div class="col">
        <h2 class="fw-bold mb-4">Employee List</h2>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mx-auto">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-bordered">
        <colgroup>
          <col width="10%" />
          <col width="26%" />
          <col width="26%" />
          <col width="16%" />
          <col width="11%" />
        </colgroup>
        <thead>
          <tr class="table-secondary">
            <th class="text-center py-2">Employee Id</th>
            <th class="text-center py-2">Name</th>
            <th class="text-center py-2">Role</th>
            <th class="text-center py-2">Status</th>
            <th class="text-center py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td class="px-2 py-1 text-center">{{ employee.employee_id }}</td>
            <td class="px-2 py-1 text-center">{{ employee.employee_name }}</td>
            
            <td class="px-2 py-1 text-center">
              {% if employee.role == "employee" %}
                Employee
              {% elif employee.role == "superadmin" %}
                Super Admin
              {% elif employee.role == "manager" %}
                Manager
              {% elif employee.role == "scrummaster" %}
                Scrum Master
              {% else %}
                Employee
              {% endif %}
            </td>
            
            <td class="px-2 py-1 text-center my-auto">
              {% if employee.is_active == 1 %}
              <span
                class="badge rounded-pill px-3"
                style="background-color: blueviolet"
                >Active</span
              >
              {% else %}
              <span class="badge bg-secondary rounded-pill px-3">Inactive</span>
              {% endif %}
            </td>
            <td class="px-2 py-1 text-center">
              <button
                class="btn btn-secondary btn-sm edit-data"
                id="edit-data"
                type="button"
                data-id="{{ employee.employee_id }}"
                title="Edit"
              >
                <i class="fa-solid fa-pen"></i>
              </button>
              <button
                class="btn btn-danger btn-sm delete-data mt-lg-0 mt-1"
                type="button"
                data-id="{{ employee.employee_id }}"
                title="Delete"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
  
  
    $(function() {
          
          $('.edit-data').click(function() {
        console.log('1')
        uni_modal(
          "Edit Employee",
          "{% url 'manage_employees-page' %}?id=" + $(this).attr("data-id"),
          "modal-lg"
        );
      });
  
      $(document).on('click', '.delete-data', function() {
        _conf("Are you sure to delete this employee?", "delete_employee", [
          $(this).attr("data-id"),
        ]);
      });
  });
  
    function delete_employee($id) {
      start_loader();
      $.ajax({
        headers: {
          "X-CSRFToken": "{{csrf_token}}",
        },
        url: "{% url 'delete-employee' %}",
        method: "POST",
        data: {
          id: $id,
        },
        dataType: "json",
        error: (err) => {
          console.log(err);
          alert_toast("An error occurred.", "error");
          end_loader();
        },
        success: function (resp) {
          if (typeof resp == "object" && resp.status == "success") {
            location.reload();
          } else {
            alert_toast("An error occurred.", "error");
            end_loader();
          }
        },
      });
    }
  </script>
</div>
{% endblock pageContent %} {% block ScriptBlock %}


{% endblock ScriptBlock %}
