<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/7f5caf3864.js"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://kit.fontawesome.com/7f5caf3864.css"
  crossorigin="anonymous"
/>

<style>
  .bg {
    background: linear-gradient(#2a1c5a, #4b3a6e);
  }
</style>

<nav class="navbar navbar-dark bg fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <a
        class="navbar-brand dropdown-toggle"
        href="#"
        role="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fa-solid fa-user me-2"></i>{{ request.user.employee_name }}
      </a>
      <div class="dropdown-menu" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-start bg-body-secondary bg"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">
          IGS Time Sheet
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% if request.user.role == "superadmin" %}
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="{% url 'home-page' %}"
            >
              <i class="fa-solid fa-house text-white"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'employee-page' %}">
              <i class="fa-solid fa-user-group text-white"></i> Employee List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'timesheet_manager' %}">
              <i class="fa-solid fa-user-clock text-white"></i> Time Sheet
              Manager
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'leave_manager' %}">
              <i class="fa-solid fa-calendar-check text-white"></i> Leave
              Manager
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="{% url 'home_employee' %}"
            >
              <i class="fa-solid fa-house text-white"></i> Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user-clock text-white"></i> Time Sheet
              Manager
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Time Sheet</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Time Sheet Status</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-calendar-check text-white"></i> Leave
              Management
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Apply Leave</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Leave Status</a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% block pageContent %} 
{% endblock pageContent %}
