{% extends "employee_information/base.html" %} {% block pageContent %}
<style>
  .approved-row {
    border-left: 5px solid #8effa8;
  }
  .rejected-row {
    border-left: 5px solid #ff8491;
  }
</style>
<div class="container mg-t">
  <div class="row">
    <div class="col-12">
      <h2 class="fw-bold mb-4">Dashboard</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2 text-center my-auto">
              <i
                class="fa-solid fa-user my-auto"
                style="color: rgb(175, 109, 251); font-size: 60px"
              ></i>
            </div>
            <div class="col">
              <p class="h2">{{ request.user.employee_name }} ( {{ request.user.employee_id }} )</p>
              <p>
                <i
                  class="fa-solid fa-briefcase me-2"
                  style="color: rgb(175, 109, 251);"
                ></i>

                {% if request.user.role == "superadmin" %}Super Admin
                {% elif request.user.role == "scrummaster" %}Srum Master
                {% elif request.user.role == "manager" %}Manager
                {% else %}Employee{% endif %}
              </p>
              <p>
                <i class="fa-solid fa-envelope me-2" style="color: rgb(175, 109, 251);"></i
                >{{ request.user.email_id}}
              </p>
              <p>
                <i class="fa-solid fa-building me-2 mb-4" style="color: rgb(175, 109, 251);"></i
                >Intello Global Services
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <p class="h2 text-center">
            <i class="fa-solid fa-bell me-4" style="color: rgb(175, 109, 251);"></i>Notice
            Board
          </p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Date</th>
                <th>Type</th>
                <th>Status</th>
                <th>Comments</th>
              </thead>
              <tbody>
                <tr class="rejected-row">
                  <td>29/11/2023</td>
                  <td>TimeSheet</td>
                  <td>Rejected</td>
                  <td>Check the timings and resubmit</td>
                </tr>
                <tr class="approved-row">
                  <td>29/11/2023</td>
                  <td>Leave</td>
                  <td>Approved</td>
                  <td>Leave request approved</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center my-auto">
          <i
            class="fa-solid fa-sitemap my-auto"
            style="color: rgb(175, 109, 251); font-size: 60px"
          ></i>
        </div>
        <div class="col ms-2">
          <p class="h2">Manager</p>
          <p class="h5">Vipin Xavier</p>
          <p>
            <i class="fa-solid fa-envelope me-2" style="color: rgb(175, 109, 251);"></i
            >vipinxavier.k@intellecto.co.in
          </p>
          <p>
            <i class="fa-solid fa-phone me-2" style="color: rgb(175, 109, 251);"></i
            >8248694043
          </p>
        </div>
        <div class="col">
          <p class="h2">Scrum Master</p>
          <p class="h5">Dhanush Anand</p>
          <p>
            <i class="fa-solid fa-envelope me-2" style="color: rgb(175, 109, 251);"></i
            >dhanush.s@intellecto.co.in
          </p>
          <p>
            <i class="fa-solid fa-phone me-2" style="color: rgb(175, 109, 251);"></i
            >7092463594
          </p>
        </div>
        <div class="col">
          <p class="h2">Team</p>
          <p class="h5 my-auto">Next Gen Tech(NGT)</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock pageContent %}
