{% extends "employee_information/base.html" %}
{% block pageContent %}
<body class="body_bg">
    <div class="container mg-t">
        <!-- first row -->
       <div class="row mt-3">
        <h4>SELF</h4>
       </div> 
        <div class="row mt-2">
            <!-- self -->
                <!-- first col -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="employee_name" name="employee_name" placeholder="name" value="{{ request.user.employee_name }}">
                            <label for="employee_name">Name*</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="employee_id" name="employee_id" placeholder="employee id" value="{{ request.user.employee_id }}">
                                    <label for="employee_id">Employee ID*</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="phone number" value="{{ request.user.phonenumber }}">
                                    <label for="phonenumber">Phone Number*</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email_id" name="email_id" placeholder="official email" value="{{ request.user.email_id }}">
                            <label for="email_id">Official Email*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="personal_email" name="personal_email" placeholder="personal email" value="{{ request.user.personal_email }}">
                            <label for="personal_email">Personal Email*</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="self_dob" name="dob" value='{{ request.user.dob | date:"Y-m-d" }}'>
                                    <label for="self_dob">DOB*</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="gender" name="gender">
                                        <option value="Male" {% if request.user.gender == 'Male' %}selected{% endif %}>Male</option>
                                        <option value="Female" {% if request.user.gender == 'Female' %}selected{% endif %}>Female</option>
                                    </select>
                                    <label for="blood_group">Gender*</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="blood_group" name="blood_group" value="{{ request.user.blood_group }}">
                                        <option value="A+" {% if request.user.blood_group == 'A+' %}selected{% endif %}>A+</option>
                                        <option value="A-" {% if request.user.blood_group == 'A-' %}selected{% endif %}>A-</option>
                                        <option value="B+" {% if request.user.blood_group == 'B+' %}selected{% endif %}>B+</option>
                                        <option value="B-" {% if request.user.blood_group == 'B-' %}selected{% endif %}>B-</option>
                                        <option value="O+" {% if request.user.blood_group == 'O+' %}selected{% endif %}>O+</option>
                                        <option value="O-" {% if request.user.blood_group == 'O-' %}selected{% endif %}>O-</option>
                                        <option value="AB+" {% if request.user.blood_group == 'AB+' %}selected{% endif %}>AB+</option>
                                        <option value="AB-" {% if request.user.blood_group == 'AB-' %}selected{% endif %}>AB-</option>
                                    </select>
                                    <label for="blood_group">Blood Group*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- end of first col -->
                <!-- second col -->
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="joining_date" name="joining_date" value="{{ request.user.joining_date | date:'Y-m-d' }}">
                                    <label for="joining_date">DOJ*</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="marital_status" name="marital_status" value="{{ request.user.marital_status }}">
                                        <option value="Married" {% if request.user.marital_status == 'Married'%}selected{% endif %}>Married</option>
                                        <option value="Single" {% if request.user.marital_status == 'Single' %}selected{% endif %}>Single</option>
                                    </select>
                                    <label for="marital_status">Marital Status*</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="emergency_contact" name="emergency_contact" placeholder="Emergency contact" value="{{ request.user.emergency_contact }}">
                            <label for="emergency_contact">Emergency Contact*</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="address" name="address" style="height: 150px" placeholder="address">{{ request.user.address }}</textarea>
                            <label for="address">Address*</label>
                        </div>
                    </div>
                <!-- end of second col -->
            <!-- end of self -->
        </div>
        <!-- end of first row -->
        <!-- second row -->
        <div class="row mt-3">
            <h4>BANK</h4>
        </div>
        <div class="row mt-2">
            <!-- first col -->
                <!-- bank -->
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="bank_name" name="bank_name" placeholder="Bank name" value="{{ request.user.bank_name }}">
                            <label for="bank_name">Bank Name*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="bank_branch" name="bank_branch" placeholder="Branch name" value="{{ request.user.bank_branch }}">
                            <label for="bank_branch">Branch*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="bank_account_no" name="bank_account_no" placeholder="Account no" value="{{ request.user.bank_account_no }}">
                            <label for="bank_account_no">Account No*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="bank_ifsc_code" name="bank_ifsc_code" placeholder="IFSC code" value="{{ request.user.bank_ifsc_code }}">
                            <label for="bank_ifsc_code">IFSC Code*</label>
                        </div>
                    </div>
                <!-- end of bank -->
            <!-- end of first col -->
            <!-- second col -->
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="bank_uan_no" name="bank_uan_no" placeholder="UAN no" value="{{ request.user.bank_uan_no }}">
                        <label for="bank_uan_no">UAN No*</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="bank_nominee_name" name="bank_nominee_name" placeholder="Nominee" value="{{ request.user.bank_nominee_name }}">
                        <label for="bank_nominee_name">Nominee*</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="bank_nominee_dob" name="bank_nominee_dob" value="{{ request.user.bank_nominee_dob | date:'Y-m-d' }}">
                        <label for="bank_nominee_dob">Nominee DOB*</label>
                    </div>
                </div>
            <!-- end of second col -->
        </div>
        <!-- end of second row -->
        <!-- third row -->
       <div class="row mt-3">
           <h4>FAMILY</h4>
       </div> 
        <div class="row mt-2">
            <!-- family -->
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="father_name" name="father_name" placeholder="Father name" value="{{ request.user.father_name }}">
                        <label for="father_name">Father Name*</label>
                    </div>        
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="father_dob" name="father_dob" value="{{ request.user.father_dob | date:'Y-m-d' }}">
                        <label for="father_dob">Father DOB*</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="mother_name" name="mother_name" placeholder="Mother name" value="{{ request.user.mother_name }}">
                        <label for="mother_name">Mother Name*</label>
                    </div>        
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="mother_dob" name="mother_dob" value="{{ request.user.mother_dob | date:'Y-m-d' }}">
                        <label for="mother_dob">Mother DOB*</label>
                    </div>
                </div>
            </div>
            <!-- end of family -->
        </div>
        <!-- end of third row -->
        <!-- fourth row -->
        <div class="row mt-3">
            <h4>PROOFS</h4>
        </div>
        <div class="row mt-2">
            <!-- proofs -->
            <div class="row mt-1">
                <div class="col mt-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="proofs_aadhar_no" name="proofs_aadhar_no" placeholder="Aadhar no" value="{{ request.user.proofs_aadhar_no }}">
                        <label for="proofs_aadhar_no">Aadhar No*</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="proofs_pancard_no" name="proofs_pancard_no" placeholder="Pan no" value="{{ request.user.proofs_pancard_no }}">
                        <label for="proofs_pancard_no">Pan No*</label>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="proofs_aadhar_softcopy" class="form-label">Aadhar Softcopy*</label>
                        <input class="form-control" type="file" id="proofs_aadhar_softcopy" name="proofs_aadhar_softcopy">
                    </div>
                    <div class="mb-3">
                        <label for="proofs_pancard_softcopy" class="form-label">Pan Softcopy*</label>
                        <input class="form-control" type="file" id="proofs_pancard_softcopy" name="proofs_pancard_softcopy">
                    </div>       
                </div>
            </div>
            <!-- end of proofs -->
        </div>
        <!-- end of fourth row -->
    </div>
</body>
{% endblock pageContent%}