{% extends "employee_information/base.html" %} {% block pageContent %}
<body class="body_bg">
  <div class="container mg-t">
    <div class="row">
      <div class="col-12">
        <h2 class="fw-bold mb-4">Time Sheets</h2>
      </div>
    </div>
    <div class="row">
      <h4>Period</h4>
    </div>
      <!-- Start, End Date and Apply filters row -->
      <div class="row" style="background-color: #ecd5ef">
        <div class="col input-group my-3">
          <span class="input-group-text" id="basic-addon1">Start Date</span>
          <input
            type="date"
            class="form-control"
            id="start_date"
          />
        </div>
        <div class="col input-group my-3">
          <span class="input-group-text" id="basic-addon1">End Date</span>
          <input
            type="date"
            class="form-control"
            id="end_date"
          />
        </div>
        <div class="col my-3 ms-auto">
          <button
          class="btn text-light ms-auto"
          style="background-color: #4981b2"
        >
          Apply Filters
        </button>
        </div>
      </div>
      <!-- End of Start, End Date and Apply filters row -->
    <div class="row mt-5 mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr class="table-secondary fw-light">
            <th class="fw-medium text-center">Project Name</th>
            <th class="fw-medium text-center">Employee Name</th>
            <th class="fw-medium text-center">Start Date</th>
            <th class="fw-medium text-center">End Date</th>
            <th class="fw-medium text-center">ST</th>
            <th class="fw-medium text-center">OT</th>
            <th class="fw-medium text-center">Status</th>
            <th class="fw-medium text-center">Approved By</th>
          </tr>
          <tr>
            {% for position in data_result %}
            <td class="text-center">{{ position.project_name }}</td>
            <td class="text-center">{{ position.username }}</td>
            <td class="text-center">{{ position.start_date }}</td>
            <td class="text-center">{{ position.end_date }}</td>
            <td class="text-center">{{ position.St }}</td>
            <td class="text-center">{{ position.ot }}</td>
            {% if position.status and position.status != " " %}
            <td class="text-center">{{ position.status }}</td>
            {% else %}
            <td class="text-center">Pending</td>
            {% endif %} 
            {% if position.status == "Approved" or position.status == "Rejected" %}
            <td class="text-center">Manager</td>
            {% else %}
            <td class="text-center"></td>
            {% endif %} {% endfor %}
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-auto me-auto">
        <button class="btn btn-md text-light" style="background-color: #978d9a">
          Download List Data
        </button>
      </div>
      <div class="col-auto ms-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>

{% endblock pageContent %}
