{% load static %}
<!-- partial:partials/_navbar.html -->
<header class="mdc-top-app-bar border-bottom shadow">
    <div class="mdc-top-app-bar__row">
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
        </div>
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
            <div class="menu-button-container menu-profile d-none d-md-block">
                <button class="mdc-button mdc-menu-button">
                    <span class="d-flex align-items-center">
                    <span class="figure">
                        <img src="{% static 'employee_information/assets/material-admin/images/faces/ava.jpg' %}" alt="user" class="user">
                        
                    </span>
                    <h1 class="item-subject font-weight-normal">
                        <a style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;">{{ request.user.employee_name }}</a>
                    </h1>
                    </span>
                </button>
                <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                        
                        <li class="mdc-list-item" role="menuitem">
                            <div class="item-thumbnail item-thumbnail-icon-only">
                                <i class="mdi mdi-logout text-primary"></i>
                            </div>
                            <div class="item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="item-subject font-weight-normal"><a href="{% url 'logout' %}">Logout</a></h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.menu-button-container').on('click', function() {
    // Toggle the visibility of the dropdown menu
    $(this).find('.mdc-menu').toggleClass('mdc-menu-surface--open');
});

$('.menu-button-container .mdc-list-item').on('click', function() {
    // Handle the logout functionality here
    window.location.href = "{% url 'logout' %}";
});

    </script>
</header>
<!-- partial -->