{% load humanize %}

<style>
    #uni_modal .modal-footer {
        display: none;
    }
    .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 500%; /* Adjust this value to change the size of the modal */
}
    .italic-text {
        
        white-space: nowrap;
    }
    .spaced-table {
        border-collapse: separate;
        border-spacing: 0 6px;
    }
    .spaced-table th {
        color: white !important;
    }
    .button-group {
    display: flex;
    justify-content: flex-end;
    }
    .no-border {
    border: none !important;
    }

    .message-box {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .message-box.show {
        opacity: 1;
        display: block;
        animation: fadeOut 0.5s ease-in-out;
    }
    .message1-box {
        position: relative;
        background-color: transparent;
        color: black;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        white-space: nowrap; /* Prevents the text from wrapping onto the next line */
        width: 100%; /* Ensures the div takes up the full width of the parent */
        text-align: center; /* Centers the text within the div */
        border: none;
        
    }

    .message1-box.show {
        opacity: 1;
        display: block;
        animation: fadeOut 0.5s ease-in-out;
    }
    .my-table {
        table-layout: fixed;
        width: 200%;
        
    }
    .my-table th, .my-table td {
    width: 200px;
    
}
.mdc-card {
    padding: 10px; /* Adjust this value */
}
.modal-dialog {
  max-width: 95%; /* Adjust this value to change the maximum width of the modal */
}

.modal-content {
  width: 80%; /* This will now take up the full width of the .modal-dialog */
}

.popup {
        position: absolute;
        background-color: #fefefe;
        border: 1px solid #888;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
}
</style>
<div class="container-fluid">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
            
            <div class="d-flex justify-content-start align-items-center">
                <label for="start_date" class="me-2">Start Date </label>
                <input  type="text" id="start_date" name="start_date" class="me-4" value={{position.start_date}} >
                <label for="end_date" class="me-2">End Date</label>
                <input  type="text" id="end_date" name="end_date" class="me-5" value={{position.end_date}} >
                <label for="holiday" class="me-4">Holiday (*)</label>
            </div>
            <div class="table-responsive">
                <form id="timeSheetForm" method="post">
                <table class="table table-bordered spaced-table my-table">
                    <colgroup>
                        <col width="15%">
                        <col width="11.5%">
                        <col width="11.5%">
                        <col width="11.5%">
                        <col width="11.5%">
                        <col width="11.5%">
                        <col width="11.5%">
                        <col width="11.5%">
                    </colgroup>
                    <thead>
                        <tr style="background-color: grey; height: 35px;">
                            <th class="text-center py-1"><input type="text" id="project_name" name="project_name" placeholder="Project name / Bench" value={{position.project_name}} style="width: 100%;"></th>
                            <th class="text-center py-1">Monday</th>
                            <th class="text-center py-1">Tuesday</th>
                            <th class="text-center py-1">Wednesday</th>
                            <th class="text-center py-1">Thursday</th>
                            <th class="text-center py-1">Friday</th>
                            <th class="text-center py-1">Saturday</th>
                            <th class="text-center py-1">Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.role != "scrummaster" %}
                        {% for task, monday_value, tuesday_value, wednesday_value, thursday_value, friday_value, saturday_value, sunday_value in position.zipped_values %}  
                        <tr style="background-color: #e0e0e0;">
                            
                            <td class="px-2 py-1 text-center">
                                <input class="task-input" type="text" id="task" name="task" placeholder="Task Name"  style="width: 100%" value={{task}} > 
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="monday_value" type="text" id="monday_value" name="monday_value" placeholder="0"  style="width: 50px" value={{monday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="tuesday_value" type="text" id="tuesday_value" name="tuesday_value" placeholder="0"  style="width: 50px" value={{tuesday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="wednesday_value" type="text" id="wednesday_value" name="wednesday_value" placeholder="0" style="width: 50px" value={{wednesday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="thursday_value" type="text" id="thursday_value" name="thursday_value" placeholder="0" style="width: 50px" value={{thursday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="friday_value" type="text" id="friday_value" name="friday_value" placeholder="0"  style="width: 50px" value={{friday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="saturday_value" type="text" id="saturday_value" name="saturday_value" placeholder="0"  style="width: 50px" value={{saturday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="sunday_value" type="text" id="sunday_value" name="sunday_value" placeholder="0"  style="width: 50px" value={{sunday_value}}>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr style="background-color: #e0e0e0;">
                            <td class="px-2 py-1 text-center">
                                Overtime Hours 
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_monday" name="ovt_monday" placeholder="0" style="width: 50px" value={{position.ovt_monday}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_tuesday" name="ovt_tuesday" placeholder="0"  style="width: 50px" value={{position.ovt_tuesday}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_wednesday" name="ovt_wednesday" placeholder="0"  style="width: 50px" value={{position.ovt_wednesday}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_thursday" name="ovt_thursday" placeholder="0" style="width: 50px" value={{position.ovt_thursday}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_friday" name="ovt_friday" placeholder="0" style="width: 50px" value={{position.ovt_friday}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_saturday" name="ovt_saturday" placeholder="0" style="width: 50px" value={{position.ovt_saturday}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_sunday" name="ovt_sunday" placeholder="0" style="width: 50px" value={{position.ovt_sunday}}>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="8" class="px-2 py-1 text-center no-border">&nbsp;</td>
                        </tr>
                        <tr style="background-color: #e0e0e0;">
                            <td class="px-2 py-1 text-center" colspan="2">
                                Standard Time: &nbsp;&nbsp;&nbsp&nbsp;
                                <input  type="text" id="St1" name="St" placeholder="0"  style="width: 50px;" value={{position.St}} readonly >
                            </td>
                            <td class="px-2 py-1 text-center" colspan="2">
                                Over Time: &nbsp;&nbsp;&nbsp&nbsp;
                                <input  type="text" id="ot1" name="ot" placeholder="0"  style="width: 50px" value={{position.ot}} readonly>
                            </td>
                            <td class="px-2 py-1 text-center" colspan="2">
                                Total Hours: &nbsp;&nbsp;&nbsp&nbsp;
                                <input type="text" id="total_hour" name="total_hour" placeholder="0" value={{position.total_hour}} style="width: 50px" readonly>
                            </td>
                        </tr>
                        <tr id="message">
                            <td colspan="8" class="px-2 py-1 text-center no-border">&nbsp;</td>
                        </tr>
                        {% else %}
                        {% for task, monday_value, tuesday_value, wednesday_value, thursday_value, friday_value, saturday_value, sunday_value in position.zipped_values %}  
                        <tr style="background-color: #e0e0e0;">
                            
                            <td class="px-2 py-1 text-center">
                                <input class="task-input" type="text" id="task" name="task" placeholder="Task Name" readonly style="width: 100%" value={{task}} > 
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="monday_value" type="text" id="monday_value" name="monday_value" placeholder="0" readonly  style="width: 50px" value={{monday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="tuesday_value" type="text" id="tuesday_value" name="tuesday_value" placeholder="0" readonly  style="width: 50px" value={{tuesday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="wednesday_value" type="text" id="wednesday_value" name="wednesday_value" placeholder="0" readonly style="width: 50px" value={{wednesday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="thursday_value" type="text" id="thursday_value" name="thursday_value" placeholder="0" readonly style="width: 50px" value={{thursday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="friday_value" type="text" id="friday_value" name="friday_value" placeholder="0" readonly  style="width: 50px" value={{friday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="saturday_value" type="text" id="saturday_value" name="saturday_value" placeholder="0" readonly  style="width: 50px" value={{saturday_value}}>
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input class="sunday_value" type="text" id="sunday_value" name="sunday_value" placeholder="0" readonly  style="width: 50px" value={{sunday_value}}>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr style="background-color: #e0e0e0;">
                            <td class="px-2 py-1 text-center">
                                Overtime Hours 
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_monday" name="ovt_monday" placeholder="0" readonly style="width: 50px" value={{position.ovt_monday}} >
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_tuesday" name="ovt_tuesday" placeholder="0" readonly style="width: 50px" value={{position.ovt_tuesday}} >
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_wednesday" name="ovt_wednesday" placeholder="0" readonly style="width: 50px" value={{position.ovt_wednesday}} >
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_thursday" name="ovt_thursday" placeholder="0" readonly style="width: 50px" value={{position.ovt_thursday}} >
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_friday" name="ovt_friday" placeholder="0" readonly style="width: 50px" value={{position.ovt_friday}} >
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_saturday" name="ovt_saturday" placeholder="0" readonly style="width: 50px" value={{position.ovt_saturday}} >
                            </td>
                            <td class="px-2 py-1 text-center">
                                <input type="text" id="ovt_sunday" name="ovt_sunday" placeholder="0" readonly style="width: 50px" value={{position.ovt_sunday}} >
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="8" class="px-2 py-1 text-center no-border">&nbsp;</td>
                        </tr>
                        <tr style="background-color: #e0e0e0;">
                            <td class="px-2 py-1 text-center" colspan="2">
                                Standard Time: &nbsp;&nbsp;&nbsp&nbsp;
                                <input  type="text" id="St1" name="St" placeholder="0"  style="width: 50px;" value={{position.St}} readonly >
                            </td>
                            <td class="px-2 py-1 text-center" colspan="2">
                                Over Time: &nbsp;&nbsp;&nbsp&nbsp;
                                <input  type="text" id="ot1" name="ot" placeholder="0"  style="width: 50px" value={{position.ot}} readonly>
                            </td>
                            <td class="px-2 py-1 text-center" colspan="2">
                                Total Hours: &nbsp;&nbsp;&nbsp&nbsp;
                                <input type="text" id="total_hour" name="total_hour" placeholder="0" value={{position.total_hour}} style="width: 50px" readonly>
                            </td>
                        </tr>
                        <tr id="message">
                            <td colspan="8" class="px-2 py-1 text-center no-border">&nbsp;</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            </form>
        </div>
    </div>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 align-items-center justify-content-end">
        <button class="btn btn-default border btn-sm rounded-0 d-flex align-items-center" type="button" data-bs-dismiss="modal"><i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">close</i> Close</button>
    </div>
<script>
// Get all input fields

// Function to show the popup
function showPopup(event) {
    const value = event.target.value;
    const popup = document.createElement('div');
    popup.classList.add('popup');
    popup.textContent = value;
    event.target.parentNode.appendChild(popup);
}

// Function to hide the popup
function hidePopup(event) {
    const popup = event.target.parentNode.querySelector('.popup');
    if (popup) {
        popup.remove();
    }
}

    $(function() {


// Calculate total hours
function calculateTotalHours() {
    console.log("calculateTotalHours function is called");
    var total = 0;
    var st = 0;
    var ot = 0;
    $('input[id$="_value"], input[id^="ovt_"]').each(function() {
        var value = parseFloat($(this).val()) || 0;
        total += value;
    });
    $('input[id$="_value"]').each(function() {
        var value = parseFloat($(this).val()) || 0;
        st += value;
    });
    $('input[id^="ovt_"]').each(function() {
        var value = parseFloat($(this).val()) || 0;
        ot += value;
    });
    $('#St1').val(st);
    $('#ot1').val(ot);
    $('#total_hour').val(total);
}

// Trigger calculation on input change
$('input[id$="_value"], input[id^="ovt_"]').on('input', calculateTotalHours);
});
    document.getElementById("submitBtn").addEventListener("click", function(event) {
        
        function getValue(id) {
            var element = document.getElementById(id);
            if (element) {
                if (element.value !== undefined) {
                    return element.value;
                } else {
                    return element.textContent;
                }
            }
            return null;
        }

        var start_date = getValue('start_date');
        var end_date = getValue('end_date');
        var project_name = "{{position.project_name}}";
        console.log(start_date);
        var taskInputs = document.querySelectorAll('.task-input');
        var tasks = Array.from(taskInputs).map(input => input.value);
        var monday_value = Array.from(document.querySelectorAll('.monday_value')).map(input => input.value) || '0';
        var tuesday_value = Array.from(document.querySelectorAll('.tuesday_value')).map(input => input.value) || '0';
        var wednesday_value = Array.from(document.querySelectorAll('.wednesday_value')).map(input => input.value) || '0';
        var thursday_value = Array.from(document.querySelectorAll('.thursday_value')).map(input => input.value) || '0';
        var friday_value = Array.from(document.querySelectorAll('.friday_value')).map(input => input.value) || '0';
        var saturday_value = Array.from(document.querySelectorAll('.saturday_value')).map(input => input.value) || '0';
        var sunday_value = Array.from(document.querySelectorAll('.sunday_value')).map(input => input.value) || '0';
        var ovt_monday = document.getElementById('ovt_monday').value || '0';
        var ovt_tuesday = document.getElementById('ovt_tuesday').value || '0';
        var ovt_wednesday = document.getElementById('ovt_wednesday').value || '0';
        var ovt_thursday = document.getElementById('ovt_thursday').value || '0';
        var ovt_friday = document.getElementById('ovt_friday').value || '0';
        var ovt_saturday = document.getElementById('ovt_saturday').value || '0';
        var ovt_sunday = document.getElementById('ovt_sunday').value || '0';
        var St = document.getElementById('St1').value || '0';
        var ot = document.getElementById('ot1').value || '0';
        var total_hour = document.getElementById('total_hour').value || '0';

        
        // Get the form data
        //var formData = new FormData(document.getElementById("timeSheetForm"));

    // Send the form data to the server using fetch
    fetch("{% url 'view_timesheet' %}", {
                  // enter your url
        method: "POST",
        headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        body: JSON.stringify({
                'start_date': start_date,
                'end_date': end_date,
                'project_name': project_name,
                'monday_value': monday_value,
                'tuesday_value': tuesday_value,
                'wednesday_value': wednesday_value,
                'thursday_value': thursday_value,
                'friday_value': friday_value,
                'saturday_value': saturday_value,
                'sunday_value': sunday_value,
                'ovt_monday': ovt_monday,
                'ovt_tuesday': ovt_tuesday,
                'ovt_wednesday': ovt_wednesday,
                'ovt_thursday': ovt_thursday,
                'ovt_friday': ovt_friday,
                'ovt_saturday': ovt_saturday,
                'ovt_sunday': ovt_sunday,
                'St': St,
                'ot': ot,
                'total_hour': total_hour

            })
    })
    .then(function(response) {
        // Handle the response from the server
        console.log("working1")
        if (response.ok) {
            return response.json();
            location.reload()
        } else {
            throw new Error("Error: " + response.status);
        }
    })
    .then(function(data) {
        if(data == "success" ){
        // Do spromething with the response data
        location.reload()}
    })
    .catch(function(error) {
        // Handle any errors that occurred during the request
        console.error(error);
    });
        var messageBox_submit = document.createElement("div");
        messageBox_submit.textContent = "Time Sheet submitted";
        messageBox_submit.classList.add("alert", "alert-success");
        document.body.appendChild(messageBox_submit);

        // Show the message box
        setTimeout(function() {
            messageBox_submit.remove();
        }, 2700);
        location.reload()
});

</script>
</div>